* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 14pt;
}

#game {
  width: 100%;
  padding: 0;
  margin: 0;
}

#panels {
  width: 100%;
  height: 500px;
  padding-top: 5%;
}

button {
  width: 110px;
  height: 30px;
  font-size: 9pt;
  border: 1pt solid #666;
  font-weight: 300;
}

#next-round-button {
  width: 130px;
  margin-top: 0;
}

#submit-button {
  display: block;
  margin-top: 15px;
}

input[type='radio'] {
  display: none;
}

label {
  display: inline-block;
  width: 90;
  height: 30px;
  font-size: 15pt;
  margin-right: 40px;
  padding-bottom: 3px;
  border-bottom: 2pt solid transparent;
}

img {
  width: 240px;
  height: auto;
}

label:hover, label:active, input:hover+label, input:active+label {
  border-bottom: 1px solid #9c9c9c;
  cursor: crosshair;
}

input:checked + label {
  border-bottom: 2pt solid #24c3ad; 
}

h4 {
  margin-top: 0;
}

#game-over {
  width: 480px;
}

#game-over h4 {
  margin-bottom: 15px;
}

#game-status {
  padding: 15px 0 150px 0;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

#points-label {
  width: 130px;
  height: 35px;
  float: left;
  background-color: #555;
  text-align: center;
  border-right: 1px solid white;
}

#round-label {
  margin: 0 0 0 0;
  width: 90px;
  height: 35px;
  float: left;
  text-align: center;
  background-color: #555;;
  font-size: 9pt;
  color: white;
}


#points-label p,
#round-label p{
  font-size: 9pt;
  color: white;
  margin: 0;
  padding: 0;
}

#points-label-text,
#round-label-text,
#points-text,
#round-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#points {
  width: 130px;
  height: 70px;
  float: left;
  background-color: #24c3ad;
  text-align: center;
  position: relative;
  top: 50%;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

#points p,
#round p {
  margin: 0;
  padding: 0;
  font-size: 36pt;
  color: white;
  font-weight: 200;
}

#round {
  width: 90px;
  height: 70px;
  float: left;
  text-align: center;
  background-color: #909090;
  border-top: 1px solid white;
}

#player-image,
#opp-image,
#middle-panel {
  padding: 0;
  width: 35%;
}

#player-image,
#opp-image {
  text-align: center;
}

#player-image {
  float: left;
}

#opp-image {
  float: left;
}

#opp-image img,
#player-image img {
  display: inline-block;
}

#middle-panel {
  float: left;
  width: 30%;
}

#game-choice {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#question {
  width: 380px;
  margin-bottom: -20px;
  font-size: 18pt;
  line-height: 140%;
}

.cooperate p {
  color: green;
}
