<div class="game-instructions">
  <p>Remember: during this game, you may either cooperate by contributing 20
  points so that your opponent receives 40 points, or defect by contributing
  nothing.</p>
</div>

<h2>Total points: {{this.gameService.totalPoints}}    Round number: {{this.gameService.roundNumber}}</h2>

<div class="self-contrib">
  <form #f="ngForm">
    <label>Would you like to cooperate or to defect?</label> <br>
    <input type="radio" name="game-choice" [(ngModel)]="this.gameService.choice" value="cooperate"> Cooperate <br>
    <input type="radio" name="game-choice" [(ngModel)]="this.gameService.choice" value="defect"> Defect <br>
    <button type="button" [disabled]="!this.gameService.isAnswered()" [hidden]="this.gameService.isSubmitted()" (click)="this.gameService.setContrib()">Submit</button>
    <button type="button" [hidden]="this.gameService.showNextButton()" (click)="this.gameService.nextRound(); f.reset()">Next Round</button>
  </form>
</div>

<div class="self-panel" [hidden]="!this.gameService.isSubmitted()">
  <pd-game-self></pd-game-self>
</div>

<div class="waiting-panel" [hidden]="!this.gameService.isWaiting()">
  <pd-waiting></pd-waiting>
</div>

<div class="opp-panel" [hidden]="!this.gameService.isOppAnswered()">
  <pd-game-opp></pd-game-opp>
</div>

<div class="game-over" [hidden]="!this.gameService.isGameOver()">
  <h4>Hooray game over goodbye</h4>
  <pd-nav-button url="7" label="Proceed"></pd-nav-button>
</div>

