#player-info {
  width: 500px;
  margin: auto;
  padding-top: 8%;
}

p {
  margin-bottom: 15px;
  font-size: 15pt;
  font-weight: 700;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #9c9c9c;
  font-family: 'Assistant';
}

input[type='text'] {
  width: 300px;
  height: 30px;
  font-size: 25pt;
  font-weight: 300;
  padding-bottom: 15px;
  padding-top: 15px;
}

input[type='text']:focus {
  border-color: #24c3ad;
}

#gender-select {
  padding-top: 15px;
}

label {
  display: inline-block;
  width: 70px;
  height: 25px;
  font-size: 15pt;
  margin-right: 30px;
  padding-bottom: 3px;
  border-bottom: 2pt solid transparent;
}

input[type="radio"] {
  display: none;
}

label:hover, label:active, input:hover+label, input:active+label {
  border-bottom: 1px solid #9c9c9c;
  cursor: crosshair;
}

input:checked + label {
  border-bottom: 2pt solid #24c3ad; 
}

button {
  background-color: white;
  border: 3px solid #9c9c9c;
  margin-top: 20px;
  width: 140px;
  height: 50px;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: inset 0 0 0 0 #31302b;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

button:disabled,
button[disabled] {
  color: #808080;
  background-color: white;
}

button:hover:enabled {
  color: white;
  border-color: #24c3ad;
  cursor: crosshair;
  box-shadow: inset 140px 0 0 0 #24c3ad;
}

