#player-info {
  width: 500px;
  margin: auto;
  padding-top: 8%;
}

p {
  margin-bottom: 7px;
  font-size: 14pt;
  font-weight: 900;
}

input[type='text'] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #9c9c9c;
  width: 300px;
  height: 30px;
  font-size: 25pt;
  font-weight: 300;
  padding-bottom: 15px;
  padding-top: 15px;
}

input[type='text']:focus {
  border-color: #24c3ad;
}

#gender-select {
  padding-top: 15px;
}

label {
  display: inline-block;
  width: 90px;
  height: 25px;
  font-size: 15pt;
  margin-right: 30px;
  padding-bottom: 3px;
  border-bottom: 2pt solid transparent;
}

label:hover, label:active, input:hover+label, input:active+label {
  border-bottom: 1px solid #9c9c9c;
  cursor: crosshair;
}

input:checked + label {
  border-bottom: 2pt solid #24c3ad; 
}

