<div id="payment-info" class="type2-text">
  <h2>Bonus Payment Information</h2>
  <p>During the game, you earned a total of {{ this.curPlayerService.player.player_score }} points.</p>
  <p>Recall that your total payment comprises $1.00 for showing up and a bonus payment of $0.01 for 
  every 10 points you earned above 100.</p>
  <p>Therefore, your total payment for this game is <br>
  1.00 + 0.01*[({{ this.curPlayerService.player.player_score }} - 100)/10] = </p>

  <div id="payment">
    <h3>${{ this.payment }}</h3>
  </div>

  <div class="next-button">
    <pd-nav-button url="8" label="Next"></pd-nav-button> <br>
  </div>
</div> <!-- div class="payment-info" -->
