<div id="payment-info" class="type2-text">
  <h2>Payment Information</h2>
  <p>You will also be asked to report basic information about the 
  other player's behavior during the experiment. At the end of the
  experiment, if you collected more than 100 points, you will 
  receive a bonus payment for each point past the 100 mark. If you
  lost points, the total number of points you have will not go below 100.</p>
  <div class="buttons">
    <div class="next-button">
      <pd-nav-button url="4" label="Next"></pd-nav-button> <br>
    </div>
    <div class="back-button">
      <pd-nav-button url="2" label="Back"></pd-nav-button>
    </div>
  </div> <!-- div id="buttons" -->
</div> <!-- div class="payment-info" -->
