<h1>Welcome</h1>
<div class="intro">
  Welcome to the experiment! In this study you will be playing a game with another player. 
  The game is straightforward: your goal is to collect as many points as possible, as the 
  number of points collected will correspond to your bonus payment at the end of the game.
  Instructions for the game will now be presented to you. 
  <strong>Please note: In order to proceed to the actual experiment you will need to answer 
  basic questions about the game correctly to make sure you understand the rules of the game.
  Failure to answer these questions correctly will prevent you from playing.</strong>
</div> <!-- div class="intro" -->

<pd-nav-button url="2" label="next"></pd-nav-button>
