<div class="type2-text" id="intro">
  <h1>Welcome {{firstName}}!</h1>
  <div id="intro-text">
      <p>In this task, you will be playing a game with another player! Your goal
      in this game is to <strong>collect as many points as possible</strong>.</p>
  </div> <!-- div id="intro" -->
  <div id="note">
      <p><strong>Please note: </strong>use only the buttons labeled "Next" and "Back"
        to navigate between pages of the experiment. If you attempt to use your browser navigation buttons
        or hit refresh at any point, your session will be terminated and you will not be permitted to reenter.</p> 
  </div> <!-- div id="note" -->

  <div id="nav-button">
    <pd-nav-button url="2" label="Next"></pd-nav-button>
  </div>
</div> <!-- div class="intro" -->

