<div *ngIf="!this.is_done" id="search-message" class="type2-text">
  <p>Waiting for opponent to complete instructions and quiz
  <span class="dot">.</span>
  <span class="dot">.</span>
  <span class="dot">.</span> </p>
</div> <!-- div id="search-message" -->

<div id="congrats" class="type2-text">
  <div *ngIf="this.is_done">
    <p>Congratulations! You will be playing against <strong>Chris</strong>. Please note: to receive
    your payment, you must finish the game. Press "Next" to
    continue.</p>
    <div id="next-botton">
      <pd-nav-button url="7" label="Next"></pd-nav-button>
    </div>
  </div>
</div>




