<div *ngIf="!isFound()" id="search-message" class="type2-text">
  <p>Finding opponent
  <span class="dot">.</span>
  <span class="dot">.</span>
  <span class="dot">.</span> </p>
</div> <!-- div id="search-message" -->

<div id="congrats" class="type2-text">
  <div *ngIf="isFound()">
    <p>Congratulations! You have been paired with another player.
    You will play this game with <strong>Chris</strong>. Please note: to receive
    your payment, you must finish the experiment. Press "Next" to
    continue.</p>
    <div id="next-botton">
      <pd-nav-button url="6" label="Next"></pd-nav-button>
    </div>
  </div>
</div>




