#quiz {
  width: 630px;
  padding: 3% 0 0 20%;
}

#warning {
  border-bottom: 1px solid #909090;
}

#question {
  font-size: 25pt;
  line-height: 1.1;
  font-weight: 500;
}

#question p {
  padding: 0;
  margin: 20px 0 30px 0; 
}

label {
  display: block;
  width: 550px;
  height: 100px;
  margin-top: -20px;
  font-size: 14pt;
}

label:hover, label:active, input:hover+label, input:active+label {
  color: #9c9c9c;
  cursor: crosshair;
}

input:checked + label {
  color: #24c3ad;
}

button {
  margin-top: 0;
}


