<div id="end-question" class="type2-text">
  <form #f="ngForm">
    <div id="end-question-question">What kind of a person did you think that Chris was overall?</div> <br>

    <input type="radio" name="end-choice" id="cooperator" [(ngModel)]="this.gameService.oppBehavior" value="cooperator">
      <label for="cooperator">A cooperator (someone who gives to others)</label> 

    <input type="radio" name="end-choice" id="defector" [(ngModel)]="this.gameService.oppBehavior" value="defector">
      <label for="defector">A defector (someone who acts selfishly)</label> 
    
    <input type="radio" name="end-choice" id="neither" [(ngModel)]="this.gameService.oppBehavior" value="neither">
      <label for="neither">Neither a cooperator nor a defector</label>

    <button type="button" [disabled]="!this.gameService.isAnsweredGameQuestion()" (click)="this.gameService.gameQuestionSubmitted = true">Submit
    </button>
  </form>
</div>
