/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Neuton|Merriweaher|Poppins');

[hidden] {
  display: none !important;
}

.type1-text {
  font-family: 'Merriweather', serif;
  color: #323232;
}

.type2-text {
  font-family: 'Poppins', sans-serif;
  color: #323232;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 40pt;
  margin-bottom: 20px;
}

h2 {
  font-size: 30pt;
  margin-bottom: 0;
}

h3 {
  font-size: 20pt;
  margin: 0;
}

h4 {
  font-family: 'Poppins';
  font-size: 15pt;
  font-weight: 400;
}

p {
  font-size: 15pt;
}

pd-nav-button {
  width: 400px;
}

input[type='radio'] {
  display: none;
}

input[type='submit'], button {
  background-color: white;
  border: 2px solid #666;
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #31302b;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

input[type='submit']:disabled,
input[type='submit'][disabled] {
  color: #808080;
  background-color: white;
}

input[type='submit'], button:hover:enabled {
  color: white;
  border-color: #24c3ad;
  cursor: crosshair;
  box-shadow: inset 140px 0 0 0 #24c3ad;
}

.buttons {
  padding-top: 0;
  margin-top: -15px;
}

.next-button {
  float: right;
}

.back-button {
  float: left;
}

@keyframes blink {50% { color: transparent }}
.dot { animation: 1s blink infinite }
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }
