/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Neuton|Merriweaher|Poppins');

.type1-text {
  font-family: 'Merriweather', serif;
  color: #323232;
}

.type2-text {
  font-family: 'Poppins', sans-serif;
  color: #323232;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 40pt;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 30pt;
}

pd-nav-button {
  width: 400px;
}
