<div id="debriefing" class="type2-text">
  <h1>Debriefing</h1>

  <p>Thank you for participating in our game today. You were actually participating in 
  an experiment in which we were interested in studying the effects of uncertainty on
  cooperative behavior. In reality, you were playing this game against a computer which 
  was programmed to make a series of predetermined decisions. We were interested in seeing
  how well you could gauge the computer's behavior and how or if your perceptions of
  the computer's behavior affected your decisions.</p>

  <p><strong>Because this experiment involves deception, we ask that you keep the nature of
  our study confidential.</strong> If you have any questions or concerns about the experiment,
  or want to get in touch with our research team, please direct all inquiries to the primary
  investigator, Amrita Lamba, at alamba@email.wm.edu.</p>

  <p>We thank you again for your participation!</p>

  <pd-nav-button url="code" label="Next"></pd-nav-button>
</div>
