<h2>Instructions</h2>
<div class="container">
  <p>Earning points is simple. You will start the game with 100 points. 
    These 100 points come from your basic show-up payment of $1.00. 
    You will be guaranteed at least 100 points throughout the game so you
    will never go below 100 points. On each round of the game, you can choose 
    to either <em>cooperate</em> or <em>defect</em>. </p>
  <br>
  <p>Choosing to cooperate means you will pay 20 of your own points to 
  give 40 points to the other player. Choosing to defect means you pay nothing
  and you give no points to the other player on that round. On each round,
  the other player can also choose to cooperate with you by paying 20 points
  to give you 40 points, or to defect, by paying nothing and giving you
  no points. All the points you collect will come from the other player
  choosing to cooperate with you. You can still collect points from them if 
  they choose to cooperate with you and you choose to defect, and vice versa.
  You will play 80 rounds of the game in total.</p>
  <br>
  <p>After each round, you will be notified of the other player's decision, and
  they will be notified of your decision. You will be able to see your total points
  at the top of the screen throughout the experiment.</p>
</div> <!-- div class="container" -->

<pd-nav-button url="3" label="Next"></pd-nav-button>
<pd-nav-button url="main" label="Back"></pd-nav-button>

