<div id="instructions" class="type2-text">
  <div id="p1">
    <p>Also pay close attention to the rules of the game. You will need to answer a 
    quiz question about the rules <strong>correctly</strong> in order to enter 
    the experiment. 
    </p>
  </div> <!-- div id="p1" -->

  <div class="buttons">
    <div class="next-button">
      <pd-nav-button url="3" label="Next"></pd-nav-button> <br>
    </div>
    <div class="back-button">
      <pd-nav-button url="1" label="Back"></pd-nav-button>
    </div>
  </div> <!-- div class="buttons" -->


</div> <!-- div class="instructions" -->


