<div id="check" class="type2-text">
  <form #f="ngForm">
    <div id="check-question">Did you think that you were playing against a human or a computer?</div> <br>

    <input type="radio" name="check-choice" id="human" [(ngModel)]="this.checkChoice" value="human">
      <label for="human">Human</label> 

    <input type="radio" name="check-choice" id="computer" [(ngModel)]="this.checkChoice" value="computer">
      <label for="computer">Computer</label> 
    
    <button type="button" [disabled]="!this.isAnswered()" (click)="this.submitAnswer()">Submit
    </button>
  </form>
</div>
